[DEFAULT]

# name of the table (including extension)
filename = 'G035_cont.fits'

# location of the table containing the data you would like to cluster
datadirectory = './'

# output directory for data products
outputdirectory = './G035_cont'

# data type: fits, ascii
datatype = 'fitsimage'

# print messages to the terminal [True/False]
verbose = True

# autosave output [True/False]
autosave = True

# number of workers for ball point query of kdtree
n_jobs = 3

# minimum number of data points to be considered a cluster
min_npoints = 0.0

# minimum height above the merge level to be considered a cluster
min_height = 0.0

# stopping criteria for clustering. value of the stopping criterion
stop_value = 0.0005

# clustering method. depends on the data type. for a fits image the default is PP. for a fits cube the default is PPV. for an ascii file the default is tab.
cluster_method = 'PP'

# column locations for spatial information, list one column for each axis, order [x,y] - for fits image default is [1,0]
cluster_spatial_idx = [1,0]

# Distance metric for clustering of spatial information. Default is the euclidean distance. 
cluster_spatial_metric = 'euclidean'

# Merging criteria for clusters. Defines maximum distance at which two points can be linked. 
cluster_spatial_thresh = 0.0

# column locations for clustering information, list one column for each feature to cluster. for a fits cube the default is [0] (velocity axis) 
cluster_feature_idx = [None]

# Distance metrics for clustering of features. should be a list of length = nfeatures e.g. ['absolute', 'absolute']. 
cluster_feature_metric = [None]

# Merging criteria for clusters. Defines maximum distance at which two points can be linked. should be a list of length = nfeatures e.g. [0.1, 0.1]. 
cluster_feature_thresh = [None]

# stopping criteria for clustering. column index for stopping criterion
cluster_stopcrit_idx = 'data'

# column location for variable to sort by. Default would be to set this as the data column. For a fits file the default is `data' i.e. the contents of the array. For an ascii file the default is 'None'. However, this could be set to e.g. the column index of peak intensity, mass, density, etc
cluster_sortcrit_idx = 'data'

# whether or not to reverse sort cluster_sortcrit_idx
reverse = False