[DEFAULT]

# location of the table containing the data you would like to cluster
datadirectory = './'

# name of the table (including extension)
filename = 'fits_final_pdbi.dat'

# name of the table (excluding extension)
filename_noext = 'fits_final_pdbi'

# output directory for data products
outputdirectory = './'

# clustering method (default is clustering in PPV, options include PPV, PP, PPP, and other)
method = 'PPV'

# column locations for spatial information, list one column for each axis
spatial = [0,1]

# column location(s) for other features(s) to cluster, list one column for each variable
features = [4, 6]

# Distance metric for clustering. Options include `absolute`. Note that if spatial clustering will be performed based on the euclidean distance.
metric = 'absolute'

# The linkage distance threshold at or above which clusters will not be merged. Must have the same length as features. If working with spatial data, must have length = 1+features. By default the spatial distance threshold should come first in the list.
distance_threshold = [3.0, 0.3, 0.3]

# column location(s) for variable to sort by (e.g. peak intensity)
sort = [2]

# minimum number of pixels to be considered a cluster
min_npix = 0.0

# minimum height above the merge level to be considered a cluster
min_height = 0.0

# stopping criteria for clustering. column index for stopping criterion
stop = 2

# stopping criteria for clustering. value of the stopping criterion
stop_value = 0.5

# print messages to the terminal [True/False]
verbose = True

# autosave output [True/False]
autosave = True
